@font-face {
     font-family: 'Rajdhani';
     src: url('/fonts/Rajdhani-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Rajdhani';
     src: url('/fonts/Rajdhani-SemiBold.woff2') format('woff2');
     font-weight: 600;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Rajdhani';
     src: url('/fonts/Rajdhani-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Inter';
     src: url('/fonts/Inter-Regular.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Inter';
     src: url('/fonts/Inter-Bold.woff2') format('woff2');
     font-weight: 700;
     font-style: normal;
   }
@font-face {
    font-family: 'AIFusion';
    src: url('/fonts/AIFusion.woff2') format('woff2'),
         url('/fonts/AIFusion.woff') format('woff'),
         url('/fonts/AIFusion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
     font-family: 'Orbitron';
     src: url('/fonts/Orbitron-Regular.woff2') format('woff2'),
          url('/fonts/Orbitron-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Orbitron';
     src: url('/fonts/Orbitron-Bold.woff2') format('woff2'),
          url('/fonts/Orbitron-Bold.woff') format('woff');
     font-weight: 700;
     font-style: normal;
   }